:root {
    /* ----------------------please decide font family for defaults on page---------------------- */
    --color-light: #f8f9fa;
    --color-dark: #500f0f;
    /* font-family: 'Inter Tight', system-ui, Avenir, Helvetica, Arial, sans-serif; */
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: var(--color-light);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}